* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  background-image: url(../img/IA_webDesign.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  width: 100vw;
  height: 100%; }

#firstview {
  position: relative;
  height: 100vh; }

#about {
  position: relative;
  margin: 10% auto;
  width: 100%;
  align-content: center;
  display: flex; }

#about-content {
  background: #ffffff;
  opacity: 0.8;
  margin: 0 auto;
  width: 50vw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; }

#about-message {
  margin: 17.5%;
  max-width: 800px;
  min-width: 300px;
  width: 65vw;
  margin-top: 5%;
  margin-bottom: 5%; }
  #about-message h1 {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 30px; }
  #about-message p {
    line-height: 26px; }

#concept {
  background: #ffffff;
  opacity: 0.8; }

#concept-content {
  text-align: left; }

#info {
  position: relative;
  background: #ffffff;
  opacity: 0.8;
  margin: 10% auto;
  width: 70vw;
  height: 500px; }
