@charset "UTF-8";
@font-face {
  font-family: 'DIN Medium';
  src: url("../font/DINPro-Medium.otf") format("opentype"); }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  background-image: url(../img/IA_webDesign.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  width: 100vw;
  height: 5000px;
  perspective: 500;
  font-family: 'DIN Medium', Avenir , "Open Sans" , "游ゴシック","Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif; }

h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 2px;
  margin-top: 0px; }

/*ヘッダー*/
header {
  position: fixed;
  top: 20px;
  left: 40px;
  text-align: left;
  z-index: 1000; }
  header #nav {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #8acdcd; }
  header li {
    list-style-type: none;
    font-size: 20px;
    margin-left: 15px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); }
  header a {
    color: #1f1f1f;
    text-decoration: none;
    transition: 0.3s; }
  header a:link {
    color: inherit; }
  header a:visited {
    color: inherit; }
  header a:hover {
    color: #6f6e6f; }
  header a:active {
    color: inherit; }

/*ファーストビュー*/
#firstview {
  position: fixed;
  height: 100vh; }

/*ABOUT*/
#about {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

#about-content {
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333; }

#about-message {
  margin: 5% 17.5%;
  width: 65vw;
  min-width: 640px; }
  #about-message h1 {
    font-size: 15pt;
    letter-spacing: 1px;
    margin: 13px; }

/*CONCEPT*/
#concept {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#concept-content {
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333; }
  #concept-content h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #666666; }

#concept-message {
  margin: 5% 17.5%;
  margin-top: 0;
  width: 65vw;
  min-width: 640px;
  text-align: left; }
  #concept-message p {
    letter-spacing: 1px;
    line-height: 29px;
    margin-top: 10px; }

span.concept-quest {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 5px; }

span.concept-quest-ja {
  font-size: 30px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 5px; }

/*INFORMATION*/
#info {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#info-content {
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333; }
  #info-content h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #666666; }

#access {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#access-content {
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333; }
  #access-content h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #666666; }

#access-box {
  display: flex;
  justify-content: center;
  align-items: center; }
  #access-box #access-map {
    margin: 50px; }
  #access-box #access-message {
    margin: 50px; }
    #access-box #access-message p {
      text-align: left; }

/*出展者*/
#exhibitors {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#exhibitors-content {
  background: #ffffff;
  opacity: 0.9; }
  #exhibitors-content h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #666666; }
  #exhibitors-content ul {
    font-size: 20px;
    margin: 30px 50px; }
    #exhibitors-content ul li {
      font-size: 15px;
      list-style: none;
      margin: 2px 0; }

/*フッター*/
/*アニメーション関連*/
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.1); }
  to {
    opacity: 1;
    transform: scale(1); } }

@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(2); } }
