@font-face {
  font-family: 'DIN Medium';
  src: url('../font/DINPro-Medium.otf') format('opentype');
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffffff;
  background-image: url(../img/IA_webDesign.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  width: 100vw;
  height: 600vh;
  perspective: 500;
  font-family: 'DIN Medium', Avenir , "Open Sans" , "游ゴシック","Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing:2px;
    margin-top: 0px;
}
h2{
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing:2px;
  margin-top: 0px;
}
li{
  list-style: none;
}

/*ヘッダー*/
header{
  position:fixed;
  top:20px;
  left:40px;
  text-align: left;
  z-index:1000;
  #nav{
    position:relative;
    width:10px;
    height:10px;
    background-color: #8acdcd;
  }
  li{
    font-size:20px;
    margin-left:15px;
    text-shadow: 1px 1px 0 rgba(#ffffff, 0.6);
  }
  a{
    color:#1f1f1f;
    text-decoration: none;
    transition: 0.3s;
  }
  a:link{color:inherit}
  a:visited{color:inherit}
  a:hover{color:#6f6e6f}
  a:active{color:inherit}
}

/*ファーストビュー*/
#firstview{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#firstview-content{
  ul{
    background: #ffffff;
    opacity: 0.9;
    padding: 10% 25%;
    display: inline-block;
    li{
      font-size: 40px;
      line-height: 55px;
      letter-spacing: 1px;
      text-align: left;
      color: #333333;
    }
  }
}

/*ABOUT*/
#about{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
#about-content{
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333;
}
#about-message{
  margin: 5% 17.5%;
  width: 65vw;
  min-width: 640px;
  h1{
    font-size: 15pt;
    letter-spacing: 1px;
    margin: 13px;
  }
  p{
    text-align: justify;
  }
}

/*CONCEPT*/
#concept{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
#concept-content{
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333;
  h1{
    margin: 5% 0;
    color: #666666;
  }
}
#concept-message{
  margin: 5% 17.5%;
  margin-top: 0;
  width: 65vw;
  min-width: 640px;
  text-align: left;
  p{
    letter-spacing: 1px;
    line-height: 29px;
    margin-top: 10px;
  }
}
span.concept-quest{
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing:5px;
}
span.concept-quest-ja{
  font-size: 30px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing:5px;
}

/*INFORMATION*/
#info{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
#info-content{
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333;
  h1{
    margin: 5% auto;
    color: #666666;
  }
}

#access-box{
  display: flex;
  justify-content: center;
  align-items: center;
  #access-map{
    margin: 0 25px 5% 0;
  }
  #access-message{
    margin: 0 0 5% 25px;
    p{
      text-align: left;
      font-size: 15px;
      color: black;
    }
  }
}

/*出展者*/
#exhibitors{
  position: fixed;
  opacity:0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#exhibitors-content{
  h1{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #666666;
  }
  ul{
    font-size:20px;
    margin: 30px 30px 30px 50px;
    text-align: left;
    li{
      font-size:15px;
      margin:2px 0;
      cursor:pointer;
    }
  }
  background: #ffffff;
  opacity: 0.9;
  padding:20px;
}
#studios-explain{
  position:fixed;
  transition:0.2s;
  background: #ffffff;
  opacity:0;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width:60vw;
  height:auto;
  padding:20px;
  z-index:-2000;
  .studios-name{
    font-size:20px;
    margin:20px;
  }
  img{
    width:60%;
    max-height: 300px;
    object-fit: contain;
    margin:auto;
  }
  p{
    text-align: justify;
    margin:20px 30px;
    line-height: 18px;
    font-size: 14px;
  }
  .close{
    color: #fff;
    margin:10px auto;
    width:50%;
    height:30px;
    line-height: 30px;
    cursor:pointer;
    background-color:#08499a;
  }
}
/*学外展情報*/
#other-exhibition{
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ox-content{
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  h1{
    margin: 5% auto 3% auto;
    color: #666666;
  }
  h2{
    margin: 10px 0;
  }
  a:link{
    color:#08499a;
  }
  li{
    font-size: 13px;
  }
  .gakugai{
    padding:0 40px 50px 40px;
  }
}

/*フッター*/
#footer{

}

/*スマホ・タブレット*/
@media screen and (max-width:750px) {
  body{
    background: none;
  }
  body::before {
    background-color: #ffffff;
    background-image: url(../img/IA_webDesign.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: -1;
    text-align: center;
    perspective: 500;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    content: "";
  }
  #firstview{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  #firstview-content{
    ul{
      background: #ffffff;
      opacity: 0.9;
      padding: 5% 10%;
      display: inline-block;
      li{
        font-size: 35px;
        line-height: 48px;
        letter-spacing: 1px;
        text-align: left;
        color: #333333;
      }
    }
  }
  /*ABOUT*/
  #about{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  #about-content{
    background: #ffffff;
    opacity: 0.9;
    width: 100%;
    margin: 0 auto;
    color: #333333;
  }
  #about-message{
    margin: 10%;
    width: 80vw;
    min-width: 80vw;
    h1{
      font-size: 18px;
      letter-spacing: 1px;
      margin: 30px;
    }
    p{
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  /*CONCEPT*/
  #concept{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  #concept-content{
    background: #ffffff;
    opacity: 0.9;
    width: 100%;
    margin: 0 auto;
    color: #333333;
    h1{
      margin: 5% 0;
      color: #666666;
    }
  }
  #concept-message{
    margin: 10% 10%;
    width: 80vw;
    min-width: 80vw;
    text-align: left;
    p{
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  span.concept-quest{
    font-size: 27px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing:5px;
  }
  span.concept-quest-ja{
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing:5px;
  }
  span.text-hide{
    display: none;
  }
  
  /*INFOMATION*/
  #access-box{
    display:block;
    margin:0;
    height:80vh;
    #access-map{
      text-align: center;
      margin:0;
      iframe{
        width:78vw;
        display:block;
        margin: 0 11vw;
        height:30vh;
      }
    }
    #access-message{
      margin:10px 20px;
      p{
        margin:0 3vw;
        text-align: left;
        font-size: 4.5vw;
        color: black;
        line-height: 1.3em;
      }
    }
  }
  
  /*exhibitors*/
  #exhibitors-content{
    h1{
      margin:5px 0;
    }
    ul{
      width:80vw;
      margin:5px 15vw;
      li{
        font-size: 14px;
        line-height: 1.5em;
      }
    }
  }
  #studios-explain{
    .studios-name{
      margin:10px 0;
    }
    width:80vw;
    img{
      width:90%;
    }
    p{
      width:90%;
      margin:15px auto 0 auto;
      max-height:30vh;
      overflow:scroll;
    }
    .close{
      width:90%;
      height:35px;
      line-height: 35px;
    }
  }
}
