@font-face {
  font-family: 'DIN Medium';
  src: url('../font/DINPro-Medium.otf') format('opentype');
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffffff;
  background-image: url(../img/IA_webDesign.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  width: 100vw;
  height: 5000px;
  perspective: 500;
  font-family: 'DIN Medium', Avenir , "Open Sans" , "游ゴシック","Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}
h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing:2px;
    margin-top: 0px;
}

/*ヘッダー*/
header{
  position:fixed;
  top:20px;
  left:40px;
  text-align: left;
  z-index:1000;
  #nav{
    position:relative;
    width:10px;
    height:10px;
    background-color: #8acdcd;
  }
  li{
    list-style-type: none;
    font-size:20px;
    margin-left:15px;
    text-shadow: 1px 1px 0 rgba(#ffffff, 0.6);
  }
  a{
    color:#1f1f1f;
    text-decoration: none;
    transition: 0.3s;
  }
  a:link{color:inherit}
  a:visited{color:inherit}
  a:hover{color:#6f6e6f}
  a:active{color:inherit}
}

/*ファーストビュー*/
#firstview{
  position: fixed;
  height: 100vh;
}

/*ABOUT*/
#about{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-content{
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333;
}
#about-message{
  margin: 5% 17.5%;
  width: 65vw;
  min-width: 640px;
  h1{
    font-size: 15pt;
    letter-spacing: 1px;
    margin: 13px;
  }
  p{

  }
}

/*CONCEPT*/
#concept{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#concept-content{
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333;
  h1{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #666666;
  }
}
#concept-message{
  margin: 5% 17.5%;
  margin-top: 0;
  width: 65vw;
  min-width: 640px;
  text-align: left;
  p{
    letter-spacing: 1px;
    line-height: 29px;
    margin-top: 10px;
  }
}
span.concept-quest{
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing:5px;
}
span.concept-quest-ja{
  font-size: 30px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing:5px;
}

/*INFORMATION*/
#info{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#info-content{
  background: #ffffff;
  opacity: 0.9;
  width: 100%;
  margin: 0 auto;
  color: #333333;
  h1{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #666666;
  }
}
#info-content-left{

}
#info-content-right{

}

/*出展者*/
#exhibitors{

}

/*フッター*/
#footer{

}

/*アニメーション関連*/
@keyframes fade-in {
  from{
    opacity:0;
    transform: scale(0.1);
  }
  to{
    opacity:1;
    transform: scale(1);
  }
}
@keyframes fade-out {
  from{
    opacity:1;
    transform: scale(1);
  }
  to{
    opacity:0;
    transform: scale(2);
  }

}
