doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    style(src="css/style.css")
    title 首都大学東京システムデザイン学部インダストリアルアートコース卒業制作展
    link(rel="shortcut icon" href="img/favicon.ico")
    meta(name="copyright" content="首都大学東京システムデザイン学部 インダストリアルアートコース 卒業・修了制作展 委員会")
    meta(name="keywords" lang="ja" content="首都大,インダストリアルアート,システムデザイン,卒業制作展,アート,インダス,クエスト,quest")
    meta(name="description" lang="ja" content="首都大学東京システムデザイン学部インダストリアルアートコース・学域、2017年度卒業生の卒業・修了制作展のホームページです。開催日:平成30年2月10日(土)-2月12日(月)10:00-17:00 会場:首都大学東京 日野キャンパス 東京都日野市旭が丘6-6です。")
    // sns関連の設定（仮）.
    //
      meta(property="og:title" content="首都大学東京 システムデザイン学部 インダストリアルアートコース 卒業・修了制作展 2017")
      meta(property="og:type" content="website")
      meta(property="og:description" content="首都大学東京システムデザイン学部インダストリアルアートコース・学域、2017年度卒業生の卒業・修了制作展のホームページです。開催日:平成30年2月10日(土)-2月12日(月)10:00-17:00 会場:首都大学東京 日野キャンパス 東京都日野市旭が丘6-6です。")
      meta(property="og:url" content="https://watkot.github.io/iagw2018")
      meta(property="og:image" content="https://watkot.github.io/iagw2018/img/ogp_image.jpg")
      meta(name="twitter:card" content="summary")
      meta(name="twitter:site" content="@iadiploma")
      meta(name="twitter:title" content="首都大学東京 システムデザイン学部 インダストリアルアートコース 卒業・修了制作展 2018")
      meta(name="twitter:description" content="首都大学東京システムデザイン学部インダストリアルアートコース・学域、2017年度卒業生の卒業・修了制作展のホームページです。開催日:平成30年2月10日(土)-2月12日(月)10:00-17:00 会場:首都大学東京 日野キャンパス 東京都日野市旭が丘6-6です。")
      meta(name="twitter:image" content="https://watkot.github.io/iagw2018/img/ogp_image.jpg")
  body
